@import '../../../scss/utils/mixin';

.services_section {
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    font-weight: 500;
    background-color: #FAFAFC;
    border-bottom: 1px solid #D4D4D4;

    .services_card-title {
        display: flex;
        align-items: center;
    }

    p {
        padding: 0;
        margin: 0;
    }

    h2 {
        font-size: 32px;
        line-height: 40px;
    }

    span {
        color: #5F3DD8;
    }

    .card_desc {
        background-color: white;
        margin-right: 20px;
        padding: 40px;
    }

    .card_wrapper:nth-child(2) {
        margin: 10px 0;
    }
}

.title_col {
    h2 {
        padding: 0;
        padding-left: 8px;
        position: relative;

        &::before {
            content: "";
            padding-left: 2px;
            border-left: 1px solid #5F3DD8;
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            left: -13px;
        }
    }

    p {
        font-size: 16px;
        max-width: 600px;
        padding-bottom: 38px;
        padding-top: 10px;
    }
}

.content {
    display: flex;
    justify-content: space-between;
}

.card_wrapper {
    border: 1px solid transparent;
    cursor: pointer;
}

.card_wrapper:hover {
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(45deg, slateblue, coral) border-box;
}

.active_card {
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(45deg, slateblue, coral) border-box;
}
