.services_card {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: white;

    p {
        font-size: 20px;
        font-weight: 500;
    }
}

.services_card_title {
    padding-left: 20px;

    p {
        font-weight: 600;
    }
}