@import '../../../scss/utils/variables';
@import '../../../scss/utils/mixin';

.portfolio__area-2 {
    overflow: hidden;
    position: relative;
    background-color: #1E1E1E;
  }
  .portfolio__area-2::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    left: 84.6%;
    top: 0;
    background: $--white-4;
  }
  @media only screen and (max-width: 767px) {
    .portfolio__area-2 {
      padding-bottom: 15px;
    }
  }
  .portfolio__area-2::after {
    z-index: 9;
  }
  @media only screen and (max-width: 767px) {
    .portfolio__area-2::after {
      z-index: unset;
    }
  }
  .portfolio__area-2 .swiper-slide-active .sec-title {
    -webkit-animation: wcfadeUp 1s 0.5s forwards;
            animation: wcfadeUp 1s 0.5s forwards;
  }
  .portfolio__area-2 .swiper-slide-active p {
    -webkit-animation: wcfadeUp 1s 0.7s forwards;
            animation: wcfadeUp 1s 0.7s forwards;
  }
  .portfolio__area-2 .swiper-slide-active .btn-common-wrap {
    -webkit-animation: wcfadeUp 1s 0.9s forwards;
            animation: wcfadeUp 1s 0.9s forwards;
  }
  .portfolio__area-2 .sec-title-wrapper {
    text-align: center;
  }

  @media only screen and (max-width: 767px) {
    .portfolio__area-2 .sec-title-wrapper {
      text-align: left;
    }
  }
  .portfolio__area-2 .sec-title-wrapper .sec-text {
    font-size: 24px;
    max-width: 410px;
    text-align: left;
  }
  @media only screen and (max-width: 767px) {
    .portfolio__area-2 .sec-title-wrapper .sec-text {
      font-size: 20px;
    }
  }
  .portfolio__area-2 .sec-title-3 {
    font-weight: 400;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: right;
    width: 100%;
    padding-right: 8px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .portfolio__area-2 .sec-title-3 {
      background-size: 260px;
      background-position: 70% 20px;
      padding-right: 200px;
      padding-bottom: 90px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio__area-2 .sec-title-3 {
      background-size: 200px;
      background-position: 95% 0;
      padding-right: 100px;
      padding-bottom: 90px;
    }
  }

  @media only screen and (max-width: 767px) {
    .portfolio__area-2 .sec-title-3 {
      background-size: 150px;
      background-position: 60% 0;
      padding-left: 0;
      padding-bottom: 45px;
      padding-right: 0px;
    }
  }
  .portfolio__area-2 .sec-title-3 span {
    display: block;
    padding-left: 450px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .portfolio__area-2 .sec-title-3 span {
      padding-right: 0;
      padding-left: 300px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio__area-2 .sec-title-3 span {
      padding-right: 0;
      padding-left: 150px;
    }
  }
  @media only screen and (max-width: 767px) {
    .portfolio__area-2 .sec-title-3 span {
      padding-right: 0;
      padding-left: 85px;
    }
  }

  .sec-title-wrapper {
    position: relative;
    z-index: 9;
  }

  .sec-title-3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    color: #fff;
    text-align: right;
  }
  @media only screen and (min-width: 1400px) and (max-width: 1919px) {
    .sec-title-3 {
      font-size: 100px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .sec-title-3 {
      font-size: 100px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .sec-title-3 {
      font-size: 80px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .sec-title-3 {
      font-size: 60px;
    }
  }
  @media only screen and (max-width: 767px) {
    .sec-title-3 {
      font-size: 48px;
    }
  }

  .portfolio__area-2 .sec-title-wrapper .sec-text {
    font-size: 24px;
    max-width: 410px;
    text-align: left;
  }
  @media only screen and (max-width: 767px) {
    .portfolio__area-2 .sec-title-wrapper .sec-text {
      font-size: 20px;
    }
  }

  .portfolio__slider-2 {
    position: relative;
    height: 100vh;
  }

  .portfolio__slider-2::after {
    z-index: 9;
  }
  @media only screen and (max-width: 767px) {
    .portfolio__slider-2::after {
      z-index: unset;
    }
  }
  @media (max-width: 1400px) {
    .portfolio__slider-2 {
      height: auto;
    }
  }
  @media only screen and (max-width: 767px) {
    .portfolio__slider-2-pagination {
      display: none;
    }
  }

  .portfolio__slide-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #1E1E1E;
  }
  @media only screen and (max-width: 767px) {
    .portfolio__slide-2 {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  .portfolio__slide-2 .sec-title {
    line-height: 1.1;
    padding-bottom: 30px;
    padding-left: 10px;
  }
  .portfolio__slide-2 .sec-title a {
    color: $--black-2;
    text-transform: capitalize;
  }
  .portfolio__slide-2 .sec-title span {
    display: block;
    padding-left: 60px;
    position: relative;
  }
  .portfolio__slide-2 .sec-title span::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 1px;
    left: -10px;
    top: 50%;
    background-color: $--black-2;
  }
  .portfolio__slide-2 .slide-img {
    padding-right: 15px;
  }
  @media only screen and (max-width: 767px) {
    .portfolio__slide-2 .slide-img {
      padding-right: 0;
    }
  }

  .portfolio__slide-2 .slide-img img {
    width: 100%;
  }
  .slide-content {
    padding-left: 100px;

    &-title {
      font-size: 40px;
      max-width: 520px;
      line-height: 52px;
      padding-bottom: 47px;
      color: #fff;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slide-content {
      padding-left: 60px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .slide-content {
      padding-left: 0;
      padding-right: 60px;
    }
  }
  @media only screen and (max-width: 767px) {
    .slide-content {
      padding: 30px 15px 50px;
    }
  }
  .portfolio__slide-2 p {
    max-width: 330px;
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 50px;
    color: #fff;
  }
  @media only screen and (max-width: 767px) {
    .portfolio__slide-2 p {
      padding-bottom: 30px;
    }
  }
  .portfolio__slide-2 .btn-common {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
  }
  .portfolio__slide-2 .btn-common:hover {
    color: $--black-3;
  }
  .portfolio__slide-2 .btn-common i {
    padding-left: 5px;
  }
  .portfolio__slide-2 .btn-common-wrap {
    opacity: 1;
  }

  .sec-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    color: $--black-2;

  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .sec-title {
      font-size: 35px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .sec-title {
      font-size: 30px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .sec-title {
      font-size: 26px;
    }
  }
  @media only screen and (max-width: 767px) {
    .sec-title {
      font-size: 22px;
    }
  }

  @media only screen and (max-width: 767px) {
    .portfolio__slider-2-pagination {
      display: none;
    }
  }
  .portfolio__slider-2-pagination .swiper-pagination-bullets {
    left: calc(100% - 135px);
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0);
            transform: translate3d(0px, -50%, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .portfolio__slider-2-pagination .swiper-pagination-bullets {
      left: calc(100% - 60px);
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio__slider-2-pagination .swiper-pagination-bullets {
      left: calc(100% - 45px);
    }
  }
  .portfolio__slider-2-pagination .swiper-pagination-bullet {
    display: block;
    margin: 15px 10px !important;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid #D6D6D6;
    opacity: 1;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  @media only screen and (min-width: 1400px) and (max-width: 1919px) {
    .portfolio__slider-2-pagination .swiper-pagination-bullet {
      margin: 10px !important;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .portfolio__slider-2-pagination .swiper-pagination-bullet {
      margin: 10px !important;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .portfolio__slider-2-pagination .swiper-pagination-bullet {
      width: 30px;
      height: 30px;
      margin: 10px !important;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio__slider-2-pagination .swiper-pagination-bullet {
      width: 25px;
      height: 25px;
      margin: 5px !important;
    }
  }
  .portfolio__slider-2-pagination .swiper-pagination-bullet::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    left: 50%;
    top: 50%;
    border-radius: 50px;
    background-color: #D6D6D6;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .portfolio__slider-2-pagination .swiper-pagination-bullet-active, .portfolio__slider-2-pagination .swiper-pagination-bullet:hover {
    border-color: var(--black-2);
  }
  .portfolio__slider-2-pagination .swiper-pagination-bullet-active::after, .portfolio__slider-2-pagination .swiper-pagination-bullet:hover::after {
    background-color: var(--black-2);
  }
