@import './variables';

/*----------------------------------------*/
/* SPACES
/*----------------------------------------*/

.pb-100 {
    padding-bottom: 100px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pb-100 {
        padding-bottom: 90px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pb-100 {
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .pb-100 {
        padding-bottom: 60px;
    }
}

.pb-110 {
    padding-bottom: 110px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pb-110 {
        padding-bottom: 90px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pb-110 {
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .pb-110 {
        padding-bottom: 60px;
    }
}

.pb-120 {
    padding-bottom: 120px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pb-120 {
        padding-bottom: 90px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pb-120 {
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .pb-120 {
        padding-bottom: 60px;
    }
}

.pb-130 {
    padding-bottom: 130px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pb-130 {
        padding-bottom: 90px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pb-130 {
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .pb-130 {
        padding-bottom: 60px;
    }
}

.pb-140 {
    padding-bottom: 140px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pb-140 {
        padding-bottom: 90px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pb-140 {
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .pb-140 {
        padding-bottom: 60px;
    }
}

.pb-150 {
    padding-bottom: 150px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pb-150 {
        padding-bottom: 90px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pb-150 {
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .pb-150 {
        padding-bottom: 60px;
    }
}

.pb-200 {
    padding-bottom: 200px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pb-200 {
        padding-bottom: 90px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pb-200 {
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .pb-200 {
        padding-bottom: 60px;
    }
}

.pt-42 {
    padding-top: 40px;
}

.pt-100 {
    padding-top: 100px;
}

@media only screen and (max-width: 767px) {
    .pt-100 {
        padding-top: 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pt-100 {
        padding-top: 80px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pt-100 {
        padding-top: 90px;
    }
}

.pt-110 {
    padding-top: 110px;
}

@media only screen and (max-width: 767px) {
    .pt-110 {
        padding-top: 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pt-110 {
        padding-top: 80px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pt-110 {
        padding-top: 90px;
    }
}

.pt-120 {
    padding-top: 120px;
}

@media only screen and (max-width: 767px) {
    .pt-120 {
        padding-top: 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pt-120 {
        padding-top: 80px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pt-120 {
        padding-top: 90px;
    }
}

.pt-130 {
    padding-top: 130px;
}

@media only screen and (max-width: 767px) {
    .pt-130 {
        padding-top: 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pt-130 {
        padding-top: 80px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pt-130 {
        padding-top: 90px;
    }
}

.pt-140 {
    padding-top: 140px;
}

@media only screen and (max-width: 767px) {
    .pt-140 {
        padding-top: 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pt-140 {
        padding-top: 80px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pt-140 {
        padding-top: 90px;
    }
}

.pt-150 {
    padding-top: 150px;
}

@media only screen and (max-width: 767px) {
    .pt-150 {
        padding-top: 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pt-150 {
        padding-top: 80px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pt-150 {
        padding-top: 90px;
    }
}

.sp-x {
    padding-left: 100px;
    padding-right: 100px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .sp-x {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sp-x {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .sp-x {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.mt-60 {
    margin-top: 60px;
}

.ht-200 {
    padding-top: 200px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ht-200 {
        padding-top: 180px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ht-200 {
        padding-top: 160px;
    }
}

@media only screen and (max-width: 767px) {
    .ht-200 {
        padding-top: 130px;
    }
}

// LINE
.line {
    position: relative;
}

.line::before {
    position: absolute;
    content: "";
    width: 1.5px;
    height: 100%;
    top: 0;
    left: 0;
    background: $--white-4;
}

.line-3 {
    position: absolute;
    content: "";
    width: 1.5px;
    height: 100%;
    right: 0;
    top: 0;
    background: $--white-4;
}